@using GaUMuoi.Models
@model ProductModel

<h2>Chi tiết sản phẩm</h2>
<p>Tên sản phẩm: @Model.Name</p>
<p>Giá: @Model.Price VNĐ</p>
<p>Mô tả: @Model.Description</p>
<img src="@Model.ImageUrl" alt="Hình ảnh sản phẩm" width="200">>


